body {
    font-family: Arial, Helvetica, sans-serif;
   /* background-color: rgb(29, 133, 231);*/
  }
  
  * {
    box-sizing: border-box;
    border: rgb(23, 24, 26);
   
  }
  
  /* Add padding to containers */
  .container {
    padding: 2px;
    /*background-color: rgb(29, 133, 231);*/
    size: 30;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 15%;
  
    padding: 0px;
    margin: 0px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 2px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: rgb(29, 133, 231);;
    color: white;
    padding: 12px 20px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: rgb(29, 133, 231);
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  img{
    height: 60;
    font-weight: 65;
    align-items: center;
  }
  .tight-line-spacing{

    line-height: 1;
  }
  label {
    text-align: left; /* Align labels to the right */
    display: inline-block; /* Prevent labels from stacking vertically */
    width: 130px; /* Set a fixed width for labels to create uniform alignment */
  }


  dev{
    text-align: left;

  }